.table-container {
    background: var(--card-bg);
    padding: 20px;
    border-radius: var(--radius-md);
    border: 1px solid var(--border-color);
    box-shadow: var(--shadow-sm);
    overflow-x: auto;
}
.custom-table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
}
.custom-table th {
    padding: 12px 15px;
    color: var(--lables);
    font-weight: 600;
    font-size: 13px;
    text-transform: uppercase;
    border-bottom: 1px solid var(--border-color);
}
.custom-table td {
    padding: 15px;
    border-bottom: 1px solid var(--border-color);
    color: var(--text-main);
    font-size: 14px;
    font-weight: 500;
}
.custom-table tr:hover td { 
    background-color: var(--bg-color); 
}

.clickable-row {
    cursor: pointer;
    transition: background-color 0.2s;
}
.clickable-row:hover {
    background-color: var(--kpi-open-bg) !important;
}